{% include "header.html" %}
{% include "navi.html" %}

<div class="box">
    <form class="scanlab-form" action="{{ REL_URL }}auth/login" method="POST">
        <fieldset>
            <legend>login here</legend>
            <input type="text" class="scanlab-input" name="username" placeholder="username">
            <input type="password" class="scanlab-input" name="password" placeholder="password">
            <input type="submit" class="btn btn-blue" value="Login">
            <a class="btn small" href="{{ REL_URL }}auth/register">Registration</a>
        </fieldset>
    </form>
</div>

{% include "footer.html" %}

