<div class="">
    <div class="center">
        <a class="btn " id="open-targets">Add comment</a>
    </div>
        <div id="target-form">
			<form action="{{REL_URL}}forum/add_comment" method="POST" class="scanlab-form">
				<fieldset>
				{% if parent %}
					<input type="hidden" name="report" value="{{parent.report}}">
					<input type="hidden" name="parent" value="{{parent.id}}">
				{% else %}
					{% if result %}
						<input type="hidden" name="report" value="{{ attribute(result, '_id')}}">
					{% else %}
						<input type="hidden" name="report" value="0">
					{% endif %}
					<input type="hidden" name="parent" value="0">
				{% endif %}
			    <textarea name="text"></textarea>
			    <input type="submit" class="btn" value="Send">
				</fieldset>

			</form>
		</div>
</div>