<div class="logo">scanlab {{SL_VERSION}}</div>
<div class="mute small">deep web research on steroids</div>
{% if SL_ADVERT != false %}
<div class="advert">
    {% autoescape false %}
    {{ SL_ADVERT }}
    {% endautoescape %}
</div>
{% endif %}
<div class="navi big">
    <nav >
        {% if session.logged_in == "true" %}
            <a title="Select filters for your searches" href="{{ REL_URL }}" class="btn">Overview</a>
            <a title="Your control panel" href="{{ REL_URL }}user/panel" class="btn">Control Panel</a>
            <a href="{{ REL_URL }}auth/logout" class="btn">Logout</a>
        {% else %}
            <a href="{{ REL_URL }}auth/login" class="btn">Login</a>
        {% endif %}
    </nav>
</div>
{% include 'search_form.html' %}
