{% include 'header.html' %}
{% include 'navi.html' %}

<div class="big mute center">{{ total_count }} reports in database</div>

{% if not countries and not users and not services and not ports and not tags %}
<div class="box ">
    <h1 class="center">Nothing to do here</h1>
</div>
{% endif %}

{% if services %} 
<div class="box">
    <h1 class="center">Services:</h1>
    <div>
        {% for service in services %}
        <a class="btn small btn-yellow" href="{{ REL_URL }}search?q=service:{{ service.name }}">
            <b>{{ service.name }} ({{ service.count }})</b>
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if ports %}
<div class="box">
    <h1 class="center">Ports:</h1>
    <div>
        {% for port in ports %}
        <a class="btn small btn-green" href="{{ REL_URL }}search?q=port:{{ port.name }}">
            <b>{{ port.name }} ({{ port.count }})</b>
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if countries %}
<div class="box">
    <h1 class="center">Countries:</h1>
    <div>
        {% for country in countries %}
        <a class="btn small" href="{{ REL_URL }}search?q=country:{{country.name}}">
            <img class="flag" src="{{ REL_URL }}images/png/{{ country.name|lower }}.png" title="{{ country.name }}"> ({{country.count}})
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if tags %}
<div class="box">
    <h1 class="center">Tags:</h1>
    <div>
        {% for tag in tags %}
        <a class="btn small btn-blue" href="{{ REL_URL }}search?q=tag:{{ tag.name }}">
            <b>{{ tag.name }} ({{tag.count}})</b>
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}

{% include 'footer.html' %}
